<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>VisaFT</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	<description>
        This is a simple web application with a source code organization
        based on the recommendations of the Application Developer's Guide.
    </description>
	<servlet>
		<servlet-name>OCTResponseServlet</servlet-name>
		<servlet-class>com.fundtransfer.OCTResponseServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>OCTResponseServlet</servlet-name>
		<url-pattern>/OCTResponseServlet/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>OCTRequestServlet</servlet-name>
		<servlet-class>com.fundtransfer.OCTRequestServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>OCTRequestServlet</servlet-name>
		<url-pattern>/OCTRequestServlet/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AccountVerificationRequestServlet</servlet-name>
		<servlet-class>com.fundtransfer.AccountVerificationRequestServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AccountVerificationRequestServlet</servlet-name>
		<url-pattern>/AccountVerificationRequestServlet/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AccountVerificationResponseServlet</servlet-name>
		<servlet-class>com.fundtransfer.AccountVerificationResponseServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AccountVerificationResponseServlet</servlet-name>
		<url-pattern>/AccountVerificationResponseServlet/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AccountLookupRequestServlet</servlet-name>
		<servlet-class>com.fundtransfer.AccountLookupRequestServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AccountLookupRequestServlet</servlet-name>
		<url-pattern>/AccountLookupRequestServlet/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AccountLookupResponseServlet</servlet-name>
		<servlet-class>com.fundtransfer.AccountLookupResponseServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AccountLookupResponseServlet</servlet-name>
		<url-pattern>/AccountLookupResponseServlet/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AdminConsoleReadServlet</servlet-name>
		<servlet-class>com.fundtransfer.AdminConsoleReadServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminConsoleReadServlet</servlet-name>
		<url-pattern>/AdminConsoleReadServlet/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AdminConsoleServlet</servlet-name>
		<servlet-class>com.fundtransfer.AdminConsoleServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminConsoleServlet</servlet-name>
		<url-pattern>/AdminConsoleServlet/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AdminResetServlet</servlet-name>
		<servlet-class>com.fundtransfer.AdminResetServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminResetServlet</servlet-name>
		<url-pattern>/AdminResetServlet/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DefaultTransferServlet</servlet-name>
		<servlet-class>com.fundtransfer.DefaultTransferServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DefaultTransferServlet</servlet-name>
		<url-pattern>/DefaultTransferServlet/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AFTRequestServlet</servlet-name>
		<servlet-class>com.fundtransfer.AFTRequestServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AFTRequestServlet</servlet-name>
		<url-pattern>/AFTRequestServlet/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AFTResponseServlet</servlet-name>
		<servlet-class>com.fundtransfer.AFTResponseServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AFTResponseServlet</servlet-name>
		<url-pattern>/AFTResponseServlet/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>TransferResetServlet</servlet-name>
		<servlet-class>com.fundtransfer.TransferResetServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TransferResetServlet</servlet-name>
		<url-pattern>/TransferResetServlet/*</url-pattern>
	</servlet-mapping>
	<filter>
		<filter-name>BasicAuthFilter</filter-name>
		<filter-class>com.fundtransfer.BasicAuthFilter</filter-class>
		<init-param>
			<param-name>my-param</param-name>
			<param-value>my-param-value</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>BasicAuthFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
</web-app>